#BMain
{
/*	background: url("center_bg.jpg") repeat;
*/
}

h2
{
    background: url( ../images/orange_bg.jpg ) repeat-x; /*none repeat scroll 0 0 #C3C4BF;*/
    font-size: 20px;
    font-weight: normal;
    text-align: center;
	color: #FFFFFF;
    font-size: 20px;
}

#MLeft
{
    float: left;
    overflow: hidden;
    width: 50%;
}

#MRight {
    width: 47%;
	margin-top: 0;
}

#bottomMenu
{
    margin: 30px 0 0;
    position: inherit;
    width:100%;;
}

#Main {min-width:0px;}

#TNet {margin: 30px auto;}
#MBottom{overflow: hidden;}

.ML_block {
    float: left;
    margin-right: 10px;
    width: 286px;
}

#MRight .cItem {
    width: 286px;
	padding: 5px;
	width:286px;
}

#MRight .afishi {
	width: 45%;
}


.newsBlock03 {
    width: 90%;
}

.topListNews .oneNews {
    min-width: 170px;
    width: 170px;
}

.afishi{ height:93px;margin:0px; }

.afishi font
{
    font-size: 15px;
    font-weight: bold;
}

.af_little font {font-size: 13px;}

.af_little{ height:56px; }

.listItems .TN_img {
    width: 115px;
}

.af_cheked{ background:#f0efeb;color: #5f5f5f; }

.ML_block_big{ overflow:hidden;width: 100%; }

.moreLink{font-size: 12px;font-style: italic;}

.ML_table{  overflow: hidden;margin-bottom: 20px;}
.BT_block{ float: left; width: 286px;}
.ML_table .ML_block table { width: 100%;border: 1px dashed #AFAFAF; }
.BTB_title{cursor: pointer;color: #FFFFFF;font-weight: bold;padding: 2px 0 4px 0px;text-align: center;background: url("table_bg.jpg") repeat-x;font-size: 13px; }
.BTB_title div{ background: url( ../images/btb_open.png ) no-repeat 10px top;height: 18px; }
.ML_blockClose .BTB_title div{ background: url( ../images/btb_close.png ) no-repeat 10px top;height: 18px; }
.ML_blockClose .MLB_inner{ display: none; }
.ML_table .ML_block table th{font-weight: normal;}
.ML_table .ML_block table td{ border: 1px dotted #CFCFCF;padding: 2px;  }
.BTB_small{ width:22px; }
.BTB_right{ text-align: right; }
.bigWord{ font-weight:bold; }
#evroFootballBaner{ background: url( ../images/fifa_baner.jpg ) no-repeat;height:108px; }
#evroFootballBaner a{display: block;width:100%;height:108px;}
.C_tableResult table{ width:100%;border-bottom: 3px solid #EA3D00;}
.C_tableResult table th a{ cursor: pointer; }
.C_tableResult table td, .C_tableResult table th { border: 1px dotted #CFCFCF;padding: 3px;  }
.CT_title{background: #FFE4D4;}
.TI_div{ text-align: right; margin-bottom: 25px; }
.TI_div2{ height: 197px;overflow: hidden;text-align: justify; }
.TI_div2 table{ width: 100%; }
.TI_div2 table th{border: 1px dotted #CFCFCF;padding: 3px;}
.TI_div2 table td{border-bottom: 1px dotted #CFCFCF;padding: 3px;}
.TI_img{width: 150px}
.other_copy_right{font-size: 12px;font-style: italic;color: #9F9F9F;}